/* CSS Document */
.left-menu{
	height: 300px;
	width: 163px;
	margin-left: 0px;
	float: left;
	margin-left:30px;
}
.right-menu{
	float: right;
	display: inline-block;
	
}
.right-menu a{
	display: block;
	padding: 10px;
	margin-right: 30px;
	text-decoration: none;
	border: 2px solid rgba(240,190,219,1.00); 
	margin-top: 10px;
	color:rgba(211,63,149,1.00);
	transition: 0.3s;
	text-align: center;
}
.right-menu a:hover{
	color: white;
	background: rgba(229,145,194,1.00);
	border: 2px solid rgba(229,145,194,1.00);
}
.left-menu ul{
	height: 290px;
	width: 163px;
	list-style: none;
	margin: 0;
	padding: 10px 0 0 0;
	background: white;
}
.left-menu li{
}
.left-menu a{
	margin: 0;
	text-decoration: none;
	color: black;
	padding: 5px 0 5px 10px;
	display: block;
}
.left-menu a:hover{
	background: rgba(239,239,239,1.00);
}
.banner-container{
	background-image:  url(../images/img/4.jpg);
	background-color: rgba(248,224,238,1.00);
	background-position: center;
	background-size: contain;
	background-repeat: no-repeat;
}
