.header-nav{
  background-color:rgba(99,99,99,1.00);
  width: 100%;
  height: 25px;
  box-sizing: border-box;
  display: block;
}
.header-nav ul{
  padding: 4px 10px 0 10px ;
}
.right-nav ul{
  padding-right: 0;
}
.left-nav{
  float: left;
}
.right-nav{
  float: right;
}
.left-nav li{
  display: inline;
}
.right-nav li{
  display: inline;

}
.header-nav a{
  color: #cbcbcb;
  padding: 11px 5px 11px 5px;
  text-decoration: none;
  transition: 0.3s;
  font-size: 11px;
  font-weight: 600;
}
.header-nav a:hover{
  color: white;
}

.clearfix::after{
  content: "";
  display: table;
  clear: both;
}
#active{
	font-size: 13px;
  color: white;
	background: url(../images/img/3.JPG) left;
}
#vietnam{
	background: url(../images/img/3.JPG) right;
  border-radius: 15px 0 0 0px;
	color: white;
	font-size: 13px;
}
