.logo-big {
  	background-image: url(../images/logo/logo-web1.ico);
	background-position: center;
	background-size: cover;
	background-repeat: no-repeat;
 	height: 100px;
  	width: 100px;
	margin-left: 30px;
	padding-left: 30px;
	
}
.header{
  height: auto;
  width: 100%;
	background: url(../images/img/3.jpg);
	background-size: cover;
	background-position: center;
	position: relative;
	box-shadow: 2px 2px 5px black;
	transition: 0.3s;
}
.search-box{
	position: absolute;
	right: 2%;
	top: 25%;
}
.search-box-collapse{
	top: 20px;
	right: 10px;
}
.logo-big-collapse{
	margin-top: -10px;
}
.search-bar{
	border: 0;
	padding: 12px 0 12px 0;
/	width: 400px;
	width: 0;
	background:rgba(0,0,0,0.30);
	border-radius: 5px 0 0 5px;
	text-indent: 10px;
	color: white;
	transition:0.3s;
	transition-delay: 1s;
}
.search-box:hover .search-bar{
	padding: 12px;
	width: 400px;
	transition-delay: 0s;
}
.search-box:hover .search-btn{
	border-radius: 0 5px 5px 0;
	display:inline;
}
.search-btn{
	margin-left: -5px;
	border: 0;
	padding: 12px;
	background:url(../images/img/3.jpg) left;
	border-radius:  5px 5px ;
	color: white;
	font-weight: bold;
	transition: 0.3s;
}
input::-webkit-input-placeholder { /* Chrome/Opera/Safari */
color: #fff;
.text-semi-bold;
}
input::-moz-placeholder { /* Firefox 19+ */
color: #fff;
font-weight: bold;
}
input:-ms-input-placeholder { /* IE 10+ */
color: #fff;
font-weight: bold;
.text-semi-bold;
}
input:-moz-placeholder { /* Firefox 18- */
color: #fff;
font-weight: bold;
.text-semi-bold;
}
.show-hide{
	display: none;
}
.nav-dropdown{
	position: relative;
	display: none;
	margin-left: 10px;
	transition: 0.3s;
}
.dropdown-btn{
	padding: 5px;
	width: 171px;
	border: none;
	background:rgba(0,0,0,0.20);
	border-radius: 10px 10px 0 0;
	color: white;
	font-size: 15px;
	text-shadow: 2px 2px 10px black;
	font-weight: bold;
}
.nav-dropdown:hover .dropdown-btn{
	background: white;
	color: black;
	text-shadow: none;
	box-shadow: 2px 2px 5px black;
}
.nav-dropdown:hover .dropdown-content{
	/display: none;
	display: block;
	position: absolute;
	z-index: 1;
	border-radius:0 0 5px 5px;
	transition: 0.3s;
	box-shadow: 2px 2px 5px black;
}
.dropdown-content{
	background: white;
	display: none;
	transition: 0.3s;
}
.dropdown-content a{
	display: block;
	padding: 6px 11px 6px 10px;
	text-align: left;
	width: 150px;
	text-decoration: none;
	color: black;
	transition: 0.3s;
}
.nav-dropdown a:hover{
	background: rgba(237,237,237,1.00);
	transition: 0.3s;
}
.ndd-right{
	position:absolute;
	right: 1%;
	transition: 0.3s;
}
.dropdown-content span{
	color: red;
}