.header {
  width: 1365px;
  clear: both;
}

.logo_worldphone img {
  width: 300px;
  float: left;
}

.search_and_cart {
  float: left;
  width: 1037px;
  text-align: center;
  padding-top: 10px;
}

.search_bar {
}

.search_bar input[type=search] {
  height: 40px;
  width: 500px;
  border: 1px solid #ff9a00;
  text-indent: 10px;
  border-radius: 10px 0 0 10px;
}

.search_bar input[type=button] {
  height: 40px;
  width: 60px;
  background: white;
  border: 1px solid #ff9a00;
  border-radius: 0 10px 10px 0;
  border-left: 0;
  background: #ff9a00;
  color: white;
}
.search_bar input[type=button]:hover{
  background: #ff7300;
  cursor: pointer;
}
.gio_hang {
  padding: 10px;
  border-radius: 15px;
  margin-left: 20px;
}

.gio_hang img {
  width: 30px;
  vertical-align: middle;
}

.gio_hang span {
  background: #ff9a00;
  padding: 5px 8px;
  border-radius: 15px;
  color: white;
}
