.sppb-01{
	margin: 2px;
	height: 201.5px;
	width:  240px;
	background: red;
	float: left;
	float: left;
	transition: 0.3s;
}
.sppb-01:hover{
	box-shadow: 2px 2px 5px black;
	opacity: 0.5;
}
.sppb-02:hover{
	box-shadow: 2px 2px 5px black;
	opacity: 0.5;
}
.sppb-02{
	width: 230px;
	height: 100px;
	background: blue;
	float: left;
	margin: 2px;
	transition: 0.3s;
}
.san-pham-pho-bien{
	padding-top: 20px;
	display: block;
}
.san-pham-pho-bien a{
	font-size: 20px;
	font-weight: 400;
	color: rgba(0,39,0,0.78);
}
.san-pham-suu-tap {
	display: block;
}
.san-pham-suu-tap a{
	font-size: 20px;
	font-weight: 400;
	color: rgba(0,39,0,0.78);
}
.san-pham-suu-tap .sppb-02{
	width: 290px;
	height: 146px;
}
.danh-cho-ban a{
	font-size: 20px;
	font-weight: 400;
	color: rgba(0,39,0,0.78);
}
.danh-cho-ban{
	padding-top: 50px;
}
.danh-cho-ban .sppb-02{
	height: 325px;
	width: 190px;
	margin: 2px;
	padding: 0;
}