.slide_show {
    max-width: 800px;
    height: 450px;
    float: right;
    position: relative;
}

.sm_banner_2 {
    margin-top: 10px;
}

.slide {
    width: 790px;
    height: 300px;
    background: url(../image/banner/002-800-300.png);
    display: none;
}
.slide:first-of-type{
    display: block;
}
.sm_banner {
    float: left;
    width: 380px;
}

.banner {
    margin: 0 auto;
    width: 1286px;
    margin-top: 20px;
}

.fade {
    animation-name: fader;
    animation-duration: 1s;
}

@keyframes fader {
    from {
        opacity: 0.4;
    }

    to {
        opacity: 1;
    }
}

.btn_a_l {
    position: absolute;
    top: 30%;
    left: 2%;
    height: 40px;
    width: 40px;
    background: red;
}

.btn_a_r {
    position: absolute;
    top: 30%;
    right: 2%;
    height: 40px;
    width: 40px;
    background: red;
}

.dots {
    position: absolute;
    top: 2%;
    left: 2%;
}

.dot {
    display: inline-block;
    height: 15px;
    width: 15px;
    border-radius: 50%;
    background: #efefef;
}

.dot_active {
    background: #939393;
}
