.thanh_tim_kiem_nang_cao *{
    color: gray;
}
.gia_tien,.loai {
    display: inline-block;
    width: 300px;
    font-size: 14px;
    float: left;
}
.loai{
    width: 200px;
    text-align: left;
}
.gia_tien{
    text-align: right;
    margin-right: 20px;
}

.thanh_tim_kiem_nang_cao {
    margin-bottom: 20px;
    text-align: right;
    display: none;
    overflow: auto;
}
#gia_id,#loai_id{
    border: 0;
    border-bottom: 1px solid gray;
}
.thanh_tim_kiem_nang_cao option{
    text-align: center;
}

#noi_dung_tknc {
    display: inline;
    width: 220px;
    float: left;
    margin-left: 20px;
    border: 0;
    border-bottom: 1px solid gray;
    text-indent: 5px;
}
.sub_tknc:hover{
    background: #f15a30;
}
.sub_tknc {
    transition: 0.3s;
    float: left;
    padding: 0px 25px 0px 25px;
    border-radius: 10px;
    background:  #ff9a00;
    border: 1px solid #ff9a00;
    color: white;
}
.title_tim_nang_cao{
    width: 260px;
    text-align: right;
    color: #ff9a00;
    margin-top: 10px;
    cursor: pointer;
    display: inline-block;
    float: left;
}
.title_tim_nang_cao:hover{
    color: #ff7300;
    text-decoration: underline;
}