.khung_sp_header {
  padding-bottom: 30px;
  clear: both;
  padding-top: 30px;
}
.small_txt{
    font-size: 20px;
    font-weight: bold;
    margin: 0 10px 0 10px;
}
.long_hr{
  display: inline-block;
  width: 340px;
  height: 1px;
  border: 0;
  background: rgb(191, 191, 191);
  margin-bottom: 8px;
}

.big_txt {
  font-weight: bold;
  font-size: 50px;
  margin-left: 10px;
  letter-spacing: -3px;
  color: rgb(184, 184, 184);
}

.khung_sp {
  width: 1087px;
  min-height: 520px;
  float: left;
}
.small_hr{
  display: inline-block;
  width: 50px;
  height: 1px;
  border: 0;
  background: rgb(191, 191, 191);
  margin-bottom: 8px;
}
