.thong_tin_khach_hang {
    position: fixed;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    z-index: 100;
    background: rgba(0, 0, 0, 0.5);
    display: none;
    transition: 0.3s;
    animation: fader;
    animation-duration: 0.5s;
}

.content {
    position: absolute;
    width: 580px;
    height: 420px;
    background: white;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    border-radius: 7%;
    animation: fader;
    animation-duration: 0.5s;
}

.btn_x {
    margin: 0;
    padding: 0;
    font-size: 50px;
    color: white;
    position: absolute;
    top: 0px;
    right: 25px;
    cursor: pointer;
}

.btn_x:hover {
    text-shadow: 0px 0px 10px white;
}

.content * {
    text-align: center;
    margin-top: 30px;
    font-size: 20px;
    color: #787878;
}

.user {
    height: 70px;
    font-size: 50px;
    color: #FA6E43;
}

@keyframe fader {
    from {
        opacity: 0.0;		
    }

    to {
        opacity: 1;
    }
}