.header {
    clear: both;
}

.logo_worldphone img {
    width: 300px;
    float: left;
}

.search_and_cart {
    float: left;
    width: 1037px;
    text-align: center;
    padding-top: 10px;
}

.search_bar {
    height: 42px;
}

.search_bar input[type=text] {
    height: 40px;
    width: 500px;
    border: 1px solid #ff9a00;
    text-indent: 10px;
    border-radius: 10px 0 0 10px;
    outline: 0;
}

.search_bar input[type=button] {
    height: 42px;
    width: 60px;
    border: 1px solid #ff9a00;
    border-radius: 0 10px 10px 0;
    background: #ff9a00;
    color: white;
    outline: 0;
}

.search_bar input[type=button]:hover {
    background: #ff7300;
    cursor: pointer;
}

.gio_hang {
    padding: 10px;
    border-radius: 15px;
    margin-left: 20px;
}

.gio_hang img {
    width: 30px;
    vertical-align: middle;
}

.gio_hang span {
    background: #ff9a00;
    padding: 5px 8px;
    border-radius: 15px;
    color: white;
}

