.product-box{
	width: 240px;
	height: 329px;
	margin: 5px;
  /* border: 1px solid rgb(208, 208, 208); */
	float: left;
	box-shadow: 1px 1px 5px gray;
	transition: 0.3s;
}
.hinh-sp{
	height: 230px;
	width: 210px;
	position: relative;
  margin: 0 auto;
}
.hinh{
	background-position:center;
	background-repeat: no-repeat;
  background-size: contain;
	position: absolute;
	top: 20px;
	height: 210px;
	width: 210px;
	transition: 0.3s;
}
.box:hover .hinh{
	position: absolute;
	top: 5px;
}


.box:hover .ten-sp{
	color: blue;
}
.product-box a{
	text-decoration: none;
}
.ten-sp{
	text-align: left;
	margin: 0;
	padding: 5px 0 0 10px;
	font-size: 15px;
	color: black;
	overflow: hidden;
}
.gia-tien{
	margin: 0;
	padding: 0px 0 0 10px;
	font-size: 16px;
    color: #ff6005;
    display: inline-block;
    /*font-weight: bold;*/
}
.gia-cu{
	font-size: 12px;
	margin-left: 10px;
	text-decoration: line-through;
    color: #ff6005;
}
.icon-cart{
	height: 16px;
	width: 16px;
}
.them-vao-gio-hang{
	text-align: right;
	padding-top: 5px;
  padding-bottom: 5px;
	display: block;
}
.them{
	font-size: 12px;
	padding: 5px 5px 8px 8px;
	color:rgba(126,126,126,1.00);
	border: 1px solid rgb(59, 59, 59, 0.5);
	border-radius: 5px;
	margin-right: 5px;
	background: white;
	transition: 0.5s;
	height: 36px;
	width: 60px;
}
.them:hover{
	box-shadow: 2px 2px 3px black;
	transition: 0.2s;
}
.them_fade{
	height: 0;
	width: 0;
	padding: 0;
	margin: 0;
	border: 0;
	overflow: hidden;
}


.fixed_title{
	margin-top: -15px;
}
