.chuyen_trang {
    height: 40px;
    padding: 10px 0 30px 0;
    text-align: center;
}

.so_trang {
    display: inline-block;
    padding: 8px 15px 8px 15px;
    margin-top: 5px;
    margin-left: 5px;
    text-decoration: none;
    color: black;
    border: 1px solid rgb(227, 227, 227);
    background: white;
}

.so_trang:hover {
    background: rgb(231, 231, 231);
    color: black;
    transition: 0.3s;
}

.block_trang {
    background: #90b532;
    color: white;
    font-weight: bold;
    pointer-events: none;
    border: 1px solid #a1cb37;
}
