.nav_wrap{
  width: 1020px;
  height: 100px;
  margin: 30px 0 30px 20px;
  float: left;
}
.nav{
  height: 79px;
  border-top: 1px solid rgb(198, 198, 198);
  text-align: right;
}
.nav a{
  height: 40px;
  width: 110px;
  max-width: 110px;
  margin-right: 20px;
  margin-top: 25px;
  color: gray;
  display: inline-block;
  text-align: center;
  text-decoration: none;
  line-height: 37px;
  overflow: auto;
}
.nav a:hover{
  box-shadow: 1px 1px 3px black;
}
.nav #dia_diem{
  float: left;
  margin-top: 30px;
  margin-left: 20px;
  text-align: left;
  width: 420px;
  display: inline-block;
  cursor: pointer;
}
.nav #dia_diem span{
  display: inline-block;
  color: gray;
  text-indent: 5px;
}
.fixed_nav{
  position: fixed;
  top: 0;
  right: 0;
  background: rgb(244, 244, 244);
  z-index: 10;
  height: 50px;
  box-shadow: 2px 2px 5px black;
  border-radius: 15px 0 0 15px;
}
.fixed_nav a{
  margin-top: 5px;
  margin-bottom: 5px;
}
.fixed_nav #dia_diem{
  margin-top: 10px;
}