.slide_show{
  max-width:800px;
  height: 450px;
  float: right;
}
.sm_banner_2{
  margin-top: 10px;
}
.slide{
  width: 790px;
  height: 300px;
  background: url(../image/banner/002-800-300.png);
}
.sm_banner{
  float: left;
  width: 380px;
}
.banner{
  margin: 0 auto;
  width: 1286px;
  margin-top: 20px;
}
.fade{
  animation-name: fader;
  animation-duration: 2s;
}
@keyframes fader{
  0%{
    opacity: 0.3;
  }
  20%{
    opacity: 1;
  }
  90%{
    opacity: 1;
  }
  100%{
    opacity: 0.3;
  }
}
