.khung_sp_header {
  font-family: opensans;
  font-size: 20px;
  font-weight: bold;
  padding-bottom: 30px;
  clear: both;
  padding-top: 30px;
}

.khung_sp_header hr {
  display: inline-block;
  width: 450px;
  height: 1px;
  border: 0;
  background: rgb(191, 191, 191);
  margin-bottom: 8px;
}

.khung_sp_header span {
  font-weight: bold;
  font-size: 50px;
  letter-spacing: -5px;
  color: rgb(184, 184, 184);
}

.khung_sp {
  width: 1087px;
  float: left;
}
