* {
  margin: 0;
  padding: 0;
  font-size: 16px;
  font-family: opensans;
}
@font-face {
  font-family: "opensans";
  src: url('../fonts/Open_Sans/OpenSans-Bold.ttf');
  font-weight: bold;
}
@font-face {
  font-family: "opensans";
  src: url('../fonts/Open_Sans/OpenSans-Regular.ttf');
}
body {}

.clear_both {
  clear: both;
}

.wrapper {
  width: 1345px;
  margin: 0 auto;
}
.hidden{
  display: none;
}
